#wholesale {
    font-size: .7em;
}
.aged {
    font-weight: bold;
}

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.btn-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.zebraStyle > tbody > tr:nth-child(2n) > td {background: #def;}
.zebraStyle > tbody > tr:nth-child(2n+1) > td {background: #fff;}