<template name="appLayout">
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Innevape Wholesale</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        {{#if currentUser}}
          <ul class="nav navbar-nav">
            {{#if isAdmin}}
              <li><a href="/orders/viewAll" data-action="viewAllOrders">View Customer Orders</a></li>
            {{/if}}
            <li>
              <a href="/orders/view" data-action="viewOrders">My Orders</a>
            </li>
            <li>
              <a href="/orders/new" data-action="placeOrder">New Order</a>
            </li>
          </ul>
        {{/if}}

        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}} <!-- here -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    {{> yield}}
    <!-- /.row -->

  </div>
  <!-- /.container -->
</template>